/* custom CSS */

header,
footer {
  margin: auto;
}

.entry-content {
  max-width: var(--responsive--aligndefault-width);
  margin-left: auto;
  margin-right: auto;
}

.widget-area {
  margin-top: 0px;
}

.row {
  display: flex;
}

.wide {
  width: 100%;
}

.entry-header {
  margin: 0px;
}

.roundedge {
  border-radius: 20px;
}

h1,
h2 {
  color: orange;
}

header#masthead,
footer.site-footer {
  background-color: darkblue;
  border: solid cyan 3px;
  padding: 50px;
  padding-top: 0px;
  padding-bottom: 5px;
}

header#masthead {
  color: cyan;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top: none;
  padding-bottom: 10px;
}

footer.site-footer {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom: none;
  padding-bottom: 0px;
}

.page-title,
.entry-title {
  text-align: center;
}

h1.entry-title {
  width: var(--responsive--alignwide-width);
  margin: auto;
  text-align: center;
}

.site-logo {
  margin: 5px;
}

.site-footer div {
  margin-top: calc(0.666 * var(--global--spacing-vertical));
  margin-bottom: calc(0.666 * var(--global--spacing-vertical));
}
